.content {
  color: blueviolet;
  font-family: verdana;
  background-color: gold;
  font-weight: bold;
  float: left;
}

.background {
  color: white;
  background-color: rgb(57, 1, 110);
  font-weight: bolder;
  font-family: sans-serif;
  border: 50px;
  padding: auto;
  margin: auto;
}

img {
  margin: auto;
  border: 30px;
  padding: 30px;
}

ol {
  float: right;
  margin: auto;
  border: 50px goldenrod;
  padding: 30px;
}

p {
  text-indent: 30px;
}