.content {
  color: blueviolet !important;
  font-family: verdana !important;
  background-color: gold !important;
  font-weight: bold !important;
  float: left !important;
}

.background {
  color: white;
  background-color: rgb(57, 1, 110);
  font-weight: bolder;
  font-family: sans-serif;
  border: 50px;
  padding: auto;
  margin: auto;
}

img {
  margin: auto;
  border: 30px;
  padding: 30px;
}

ol {
  float: right !important;
  margin: auto !important;
  border: 50px goldenrod !important;
  padding: 30px !important;
}

p {
  text-indent: 30px;
}